<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ramos.s.j.mauricio.Conceitos_Classes_Abstratas_e_Interfaces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Conceitos_Classes_Abstratas_e_Interfaces"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConceitosClassesAbstratas">
        <activity
            android:name="ramos.s.j.mauricio.Conceitos_Classes_Abstratas_e_Interfaces.MainActivity"
            android:exported="false" />
    </application>

</manifest>