.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 230px;
    border: 3px solid darkblue;
    color: black;
    margin: 0 auto;
    background: linear-gradient(120deg, black 0%, yellow 100%);
}

input{
    border: 2px solid black;
}
.btn-cad{
    background-color: green;
    position: relative;
    left: 20ppx;
    padding: 5px;
    margin-top: 20px;
}
.btn-can{
    background-color: red;
    position: relative;
    right: 20ppx;
    padding: 5px;
    margin-top: 20px;
}
.grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.shrink:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.elemento{
    background: orange;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    animation-timing-function: 3s unset;
    animation-delay: 1000ms;
    position: relative;
    left: 400px;
    bottom: 600px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 220px;
        border: 3px solid blue;
        color: aliceblue;
        margin: 0 auto;
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(55, 18, 156) 100%);
    }
    input{
        border: 2px solid black;
    }
    .btn-cad{
        background-color: green;
        position: relative;
        left: 20ppx;
        padding: 5px;
        margin-top: 20px;
    }
    .btn-can{
        background-color: red;
        position: relative;
        right: 20ppx;
        padding: 5px;
        margin-top: 20px;
    }
    .grow:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .shrink:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

} 
    @media screen and (max-width: 899px){
        .container{
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 220px;
            border: 3px solid blue;
            color: aliceblue;
            margin: 0 auto;
            background: radial-gradient(circle, rgb(14, 17, 29) 0%, rgba(67, 197, 106, 0.322) 100%);
        }

        input{
            border: 2px solid black;
        }
        .btn-cad{
            background-color: green;
            position: relative;
            left: 20ppx;
            padding: 5px;
            margin-top: 20px;
        }
        .btn-can{
            background-color: red;
            position: relative;
            right: 20ppx;
            padding: 5px;
            margin-top: 20px;
        }
        .grow:hover{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        
        .shrink:hover{
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
}
        
